body {
    box-sizing: border-box;
    font-family: 'Comic Sans MS', cursive;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #0080ff;
}

.msg {
    margin-top: 15px;
    margin-bottom: 15px;
}

.row {
    height: 153px;
}
.field {
    display: inline-block;
    height: 150px;
    width: 150px;
    border: solid #5cd65c;
    margin-left: -9px;
}
.field:hover {
    cursor: pointer;
}
img {
    padding: 11.5px;
}

.menu {
    padding: 0;
}

.button {
    display: inline-block;
    border: solid #fff;
}

.button:hover {
    border: solid #00cc00;
    border-radius: 10px;
    cursor: pointer;
}
img.icon {
    height: 30px;
}